
@{
    ViewData["Title"] = "Usuarios";
}

<h1>@ViewData["Title"]</h1>
<h2>Eduardo Alves Figueiredo</h2>
<hr />

<a asp-action="Index">Pesquisar</a>
<section class="Contato">
    <ul>
        <li>Inicio</li>
        <li>Notas/Historico</li>
        <li>Dados Contato</li>
        <li>Fone/Endereço</li>
    </ul>
</section>

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <div class="pull-left">Dados Cadastrais</div>
        <div class="pull-right"><button class="btn btn-success btn-xs"><i class="fa fa-cloud"></i>Salvar</button></div>
    </div>
</div>

<div>

</div>